body {
    font-family: arial, sans-serif;
    text-align: center;
    padding: 0.5em;
    background: linear-gradient(90deg, rgba(78,77,87,1) 0%, rgba(106,106,116,1) 31%, rgba(233,233,233,1) 100%);
}

input[type="text"] {
    color : blue;
}

input[type="submit"] {
    font-weight : bold;
}

div {

    padding: 0.2em;
}

a {
    text-decoration: none;
}
fieldset {
   display: inline-block;
    text-align: left;
    width: 7em;

}

legend {
    text-align: center;
}